.invalid-icon {
  color: red;

}

.valid-icon {
  color: green; /* o el color que desees para el icono válido */

}

::ng-deep .p-datepicker table td > span  {
  background-color: rgb(0, 145, 255);
}


::ng-deep .p-datepicker table td.p-datepicker-today > span {

  background-color: burlywood
}

.invalid-calendar .ui-button {
  background-color: red !important;
 }


