<div class="row">
  <div class="col-lg-4" style="margin-bottom: 25px">
    <app-equipo-falla
      [listDatos]="listDatos"

      [equiposEnFalla]="equiposEnFalla"
      (arraynewItemEvent)="capturaArray5($event)"
      [rellenarCampo]="rellenarCampo1"
      [etiquetaLabel]="etiquetaLabel1"
    ></app-equipo-falla>
  </div>
  <div class="col-lg-2" style="margin-bottom: 25px">
    <app-equipos-especifico-falla
      [etiquetaLabel]="etiquetaLabel2"
      [rellenarCampo]="rellenarCampo2"
      [arrayfallas1]="arrayfallas5"
    ></app-equipos-especifico-falla>
  </div>
  <div class="col-lg-3" style="margin-bottom: 25px">
    <app-imput-serie
      [noRetiraEquipo]="noRetiraEquipo"
      [etiquetaLabel]="etiquetaLabel3"
    ></app-imput-serie>
  </div>
  <div class="col-lg-2" style="margin-bottom: 25px">
    <app-estado-equipo
      [rellenarCampo]="rellenarCampo4"
      [estadoEquipos]="estadoEquipos"
      [etiquetaLabel]="etiquetaLabel4"
    ></app-estado-equipo>
  </div>
  <div class="col-lg-1" >
    <div class="row" *ngIf="retiraBotonAgregar">
      <div class="row" style="margin-top: -7px; margin-left: -10px; min-width: 105%;">
        <p-button
          label="Agregar"
          styleClass="p-button-rounded botonEquiposAgregar rounded"
          (click)="agregarRetiradoInstalado()"
        ></p-button>
      </div>

      <div class="row" style="margin-bottom: 9px; margin-left: -10px; min-width: 104%;" *ngIf="retiraBotonEliminar">
        <p-button
          label="Eliminar"
          styleClass="p-button-rounded p-button-danger botonEquiposEliminar rounded"
          (click)="eliminarRetiradoInstalado()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
