<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-lg-5 ">

      <app-agregar [titulo]="'Agregar distrito'" [escribirCampo]="'Agregar distrito'" [form]="form1" [campoInput]="campoInput1" [campo]="'distrito'"></app-agregar>

      <div class="row mt-4">

        <app-agregar [titulo]="'Agregar equipo'" [escribirCampo]="'Agregar equipo'" [form]="form3" [campoInput]="campoInput3" [campo]="'equipo'"></app-agregar>
      </div>
    </div>

    <div class="col-lg-5 offset-lg-2">
      <app-agregar-estacion ></app-agregar-estacion>
    </div>
  </div>
  <div class="row mt-4">


    <div class="col-lg-5 ">
      <app-agregar [titulo]="'Agregar especificidad'" [escribirCampo]="'Agregar especificidad'" [form]="form4" [campoInput]="campoInput4" [campo]="'especificidad'"></app-agregar>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <app-agregar [titulo]="'Agregar estado'" [escribirCampo]="'Agregar estado'" [form]="form2" [campoInput]="campoInput2" [campo]="'estado'"></app-agregar>
        </div>
  </div>

</div>



  <div class="row mt-4">
    <div class="col-lg-1 offset-lg-5">
      <div style="margin-left: 40px">

        <p-button routerLink="/dashboard/intervencion" label="Volver" styleClass="p-button-outlined p-button-secondary" icon="pi pi-angle-double-left"></p-button>
      </div>
    </div>
  </div>
















