<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-lg-6 ">
<app-listar
[titulo]="'Listar distritos'"
*ngIf="habilitoAgregar"
[camposListar]="camposListarDistritos"
></app-listar>
      <app-agregar *ngIf="!habilitoAgregar" [titulo]="titulo" [escribirCampo]="'Agregar distrito'" [form]="form1" [campoInput]="campoInput1" [campo]="'distrito'" [distritoEditar]="distritoEdit"></app-agregar>

      <div class="row mt-4">
        <app-listar
        [titulo]="'Listar Equipos'"
        *ngIf="habilitoEquipo"></app-listar>
        <app-agregar *ngIf="!habilitoEquipo" [titulo]="'Agregar equipo'" [escribirCampo]="'Agregar equipo'" [form]="form3" [campoInput]="campoInput3" [campo]="'equipo'"></app-agregar>
      </div>
    </div>

    <div class="col-lg-5 offset-lg-1">
      <app-agregar-estacion ></app-agregar-estacion>
    </div>
  </div>
  <div class="row mt-4">


    <div class="col-lg-5 ">
      <app-agregar [titulo]="'Agregar especificidad'" [escribirCampo]="'Agregar especificidad'" [form]="form4" [campoInput]="campoInput4" [campo]="'especificidad'" ></app-agregar>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <app-agregar [titulo]="'Agregar estado'" [escribirCampo]="'Agregar estado'" [form]="form2" [campoInput]="campoInput2" [campo]="'estado'"></app-agregar>
        </div>
  </div>

</div>


<div class="container text-center">
  <div class="row mt-4">

    <div class="col align-self-center">
      <p-button routerLink="/dashboard/intervencion" label="Volver" styleClass="p-button p-button-secondary rounded" icon="pi pi-angle-double-left"></p-button>
    </div>

  </div>
</div>


















