<div class="row">
<div class="col-lg-4">
  <app-equipo-falla
    [listDatos]="listDatos"
    [equiposEnFalla]="equiposEnFalla"
    (arraynewItemEvent)="capturaArray1($event)"
    [rellenarCampo]="rellenarCampo1"
    [etiquetaLabel]="etiquetaLabel1"
  ></app-equipo-falla>
</div>

<div class="col-lg-4">
  <app-equipos-especifico-falla
    [etiquetaLabel]="etiquetaLabel2"
    [rellenarCampo]="rellenarCampo2"
    [arrayfallas1]="arrayfallas1"
  ></app-equipos-especifico-falla>
</div>
<div class="col-lg-3">
  <app-estado-equipo
    [rellenarCampo]="rellenarCampo3"
    [estadoEquipos]="estadoEquipos"
    [etiquetaLabel]="etiquetaLabel3"
  ></app-estado-equipo>
</div>
<div class="col-lg-1">

      <div class="row mtop2" *ngIf="retiraBotonAgregar">
      <p-button
        label="Agregar"
        styleClass="p-button-rounded tamaño1"
        (click)="agregarEquipoFalla()"
      ></p-button>
    </div>

    <div class="row mtop2" *ngIf="retiraBotonEliminar">

      <p-button
        label="Eliminar"
        styleClass="p-button-rounded p-button-danger tamaño1"
        (click)="RetirarEquipoFalla()"
      ></p-button>

  </div>
</div>
</div>

